.advantages {
  padding: 128px 0 32px 0;
  position: relative;

  &__inner {
    color: $main-color;
  
    &-header{
      gap: 48px;
      
      @media screen and (max-width: 640px) {
        flex-direction: column;
        gap: 32px;
        display: block;
        text-align: center;
      }
    }

    &-title {
      @media  screen and (max-width: 768px) {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 42px;
        align-items: center;
      }
    }

    &-line {
      background-color: $main-color;
      height: 1px;
      flex: 1;
    }
    
    &-subtitle {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;

      @media screen and (max-width:1200px) {
        gap: 48px 12px;
      }

      &-column {
        width: 24%;
        flex-direction: column;

        @media  screen and (max-width: 1024px) {
          width: 49%;
        }

        @media  screen and (max-width: 640px) {
          width: 100%;
          text-align: center;
        }

        &-head {
          font-weight: 400;
          font-size: 32px;
          line-height: 38px;
          height: 114px;
          margin-bottom: 32px;

          @media  screen and (max-width: 1024px) {
            font-size: 24px;
            line-height: 28px;
            height: auto;
            margin-bottom: 24px;
          }
        }

        &-text {
          font-size: 20px;
          line-height: 23px;
          position: relative;

          @media  screen and (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
          }
        }
      }
    }
  }
}




