.layout {
    background-image: url(/images/Background.svg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__Line {
        opacity: 0.2;
        filter: grayscale(100%) brightness(150%);
        margin-left: 0%;
    }

    .display-5 {
        color: white;
        margin-top: 400px;
    }

    .bg-light {
        color: white;
        margin-right: 0%;
    }

    footer {
        small {
            font-style: italic;
            color: white;
        }
    }
}